.promo {
  margin: 0 auto;
}

.promo--map {
  position: relative;

  margin-bottom: 35px;
}

.promo--video {
  margin-bottom: 140px;
}

.promo--inner {
  margin-top: -5px;
  margin-bottom: 24px;
}

.promo__title {
  .font-middle();
  width: 255px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;

  text-align: center;
}

.promo__title--map {
  .font-big();
  margin-bottom: 18px;
}

.promo__slogan {
  .font-little();
  width: 275px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  color: @gray--darken;

  & br {
    display: none;
  }
}

.promo__button {
  width: 87.5%;
  min-height: 58px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.promo__button span {
  line-height: 58px;
  vertical-align: middle;
}

.promo__map img {
  display: block;
  width: 100%;
  height: 350px;
}

.promo--map iframe {
  position: absolute;
  top: 260px;
  left: 0;

  width: 100%;
  height: 350px;

  z-index: 1;
}

@media (min-width: @tablet-width) {
  .promo--video {
    padding-bottom: 120px;
    margin-bottom: 0;
  }

  .promo--map {
    margin-bottom: 38px;
  }

  .promo__title {
    .font-big();
    width: 490px;

    &--map {
      margin-bottom: 30px;

      font-size: 30px;
    }

    &--big-font {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  .promo__slogan {
    width: 490px;

    & br {
      display: inline;
    }
  }

  .promo__button {
    width: 458px;
    margin-top: 41px;
    margin-bottom: 55px;
  }

  .promo--inner {
    margin-bottom: 65px;
    padding-top: 30px;
  }

  .promo__slogan--tablet {
    width: 428px;
  }

  .promo__slogan--form {
    width: 439px;
  }
}

@media (min-width: @desktop-width) {
  .promo__button {
    margin-top: 45px;
    margin-bottom: 66px;
  }

  .promo--map {
    margin-bottom: 0;
    padding-bottom: 36px;
  }

  .promo--map iframe {
    top: 275px;
  }

  .promo--inner {
    padding-top: 118px;
    margin-bottom: 67px;
  }
}
