.promo {
  margin: 0 auto;
}

.promo--inner {
  margin-top: -5px;
  margin-bottom: 24px;
}

.main__promo {
  margin-bottom: 5px;
}

.promo__title {
  .font-middle();
  width: 255px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;

  text-align: center;
}

.promo__slogan {
  .font-little();
  width: 275px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  color: @gray--darken;
}

@media (min-width: @tablet-width) {
  .main__promo {
    margin-bottom: 53px;
  }

  .promo__title {
    .font-big();
    width: 490px;
  }

  .promo__slogan {
    width: 490px;
  }

  .promo--inner {
    margin-bottom: 70px;
    padding-top: 30px;
  }

  .promo__slogan--tablet {
    width: 428px;
  }

  .promo__slogan--form {
    width: 439px;
  }

  .promo__title--big-font {
    font-size: 30px;
  }
}

@media (min-width: @desktop-width) {
  .main__promo {
    padding-top: 50px;
  }

  .promo--inner {
    padding-top: 118px;
    margin-bottom: 72px;
  }
}
