html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"],
input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
